.header {
    text-align: center;
    color: #15A4AF;
    text-decoration: underline;
    padding: 3% 15%;
}

h4 {
    text-align: center;
    padding: 3% 0%;
}

img {
    width: 40%;
}
.logo {
    font-family: cursive;
    color: #15A4AF;
}

iframe
{
    border: 2px #15A4AF solid;
    border-radius: 10%;
}
#header {
    background-color: #15A4AF;
    padding: 7% 15%;
    color: white;
}

.resume-bullet-points {
    font-size: 14px;
    font-weight: light;
}

button {
    background-color: #4E5166;
}
